@font-face {
    font-family: poppins-ex-light;
    src: url(/src/assets/styles/fonts/Poppins/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: poppins-thin;
    src: url(/src/assets/styles/fonts/Poppins/Poppins-Thin.ttf);
}

@font-face {
    font-family: poppins-light;
    src: url(/src/assets/styles/fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: poppins;
    src: url(/src/assets/styles/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-medium;
    src: url(/src/assets/styles/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppins-semi;
    src: url(/src/assets/styles/fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: poppins-bold;
    src: url(/src/assets/styles/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppins-ex-bold;
    src: url(/src/assets/styles/fonts/Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: poppins-black;
    src: url(/src/assets/styles/fonts/Poppins/Poppins-Black.ttf);
}
