$green-bgc: #2F855A;

$clr-slate: #4A5568;
$clr-slate-10: #5B6679;
$clr-slate-20: #6C778A;
$clr-slate-dark-10: #393D57;
$clr-slate-dark-20: #111219;

$clr-cyan: #38B2AC;
$clr-cyan-10: #46C0BA;
$clr-cyan-20: #54CEC8;
$clr-cyan-dark-10: #2A9E97;
$clr-cyan-dark-20: #1C8A82;

$clr-green: #2F855A;
$clr-green-10: #3A956A;
$clr-green-20: #45A57A;
$clr-green-dark-10: #26704C;
$clr-green-dark-20: #1D5B3E;